:root {
    --cor-primaria: #00ff08;
    --cor-secundaria: #021aec;    
    --cor-branca: #fff;
    --cor-menu-nav: #000d3d;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-azul-escuro: #070F2B;
    --cor-fundo-cinza-claro: #353535;
    --cor-fundo-azul-transparente: #030a2dae;
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }